{% extends 'layouts/adminv2.html.twig' %}

{% block title %}{% trans %}PDF Compiler{% endtrans %} {{ parent() }}{% endblock %}

{% block body %}
    <h1>{% trans %}PDF Compiler{% endtrans %}</h1>
    <div class="container-fluid">
        <div class="row col-md-12">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addTabModal">
                {% trans %}Add a Page{% endtrans %}
            </button>
        </div>

        <br class="clearfix">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="myTabs" role="tablist">
          <li class="nav-item" id="mainTabHeader-0">
            <a class="nav-link active" id="headerTabId-0" data-toggle="tab" href="#tabPage-0" role="tab">
                {% trans %}Main Page{% endtrans %}
            </a>
          </li>
        </ul>

        <!-- Tab panes -->
        <form method="post" enctype="multipart/form-data">
            <div class="tab-content container-fluid" id="tabPagesContainer">
              <div class="tab-pane active" id="tabPage-0" role="tabpanel" aria-labelledby="tabPage-0-tab">
                  <div class="form-group">
                      <label for="mainTab-title" class="col-form-label">
                          {% trans %}Main Page Title{% endtrans %}:
                      </label>
                      <input type="text" name="mainPage[title]" id="mainTab-title" class="form-control" placeholder="{% trans %}Page Title{% endtrans %}">
                  </div>
                  <div class="form-group">
                      <label for="mainTab-content" class="col-form-label">
                          {% trans %}Main Page Content{% endtrans %}:
                      </label>
                      <textarea id="mainTab-content"></textarea>
                  </div>
                  <b>{% trans %}Category and Applications{% endtrans %}</b>
                  <br class="clearfix">
                  <div class="nav nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  {% for category in categories %}
                      <a class="nav-link{% if loop.index == 1 %} active{% endif %}" id="v-pills-{{ category.id }}-tab" data-toggle="pill" href="#v-pills-{{ category.id }}" role="tab" aria-controls="v-pills-{{ category.id }}" aria-selected="{% if loop.index == 1 %}true{% else %}false{% endif %}">
                          {{ category.name }}
                      </a>
                  {% endfor %}
                  </div>
                  <div class="tab-content" id="v-pills-tabContent">
                      {% for category in categories %}
                          <div class="tab-pane fade{% if loop.index == 1 %} show active{% endif %}" id="v-pills-{{ category.id }}" role="tabpanel" aria-labelledby="v-pills-{{ category.id }}-tab">
                              <div class="row container col-md-12">
                                  <!-- Array Starts at 0 -->
                                  <input type="hidden" name="pageIds[]" value="0">
                                  <div class="form-group col-md-4">
                                      <label for="source-{{ category.id }}">
                                          {% trans %}Selectable Applications{% endtrans %}
                                      </label>
                                      <select multiple class="form-control col-md-12" id="source-{{ category.id }}">
                                          {% for application in applications %}
                                              <option value="{{ application.id }}">{{ application.name }}</option>
                                          {% endfor %}
                                      </select>
                                  </div>

                                  <div class="form-group col-md-4 text-center">
                                      <input type='button' id='btnAllRight-{{ category.id }}' value='>>'>
                                      <input type='button' id='btnRight-{{ category.id }}' value='>'>
                                      <input type='button' id='btnLeft-{{ category.id }}' value='<'>
                                      <input type='button' id='btnAllLeft-{{ category.id }}' value='<<'>
                                  </div>

                                  <div class="form-group col-md-4">
                                      <label for="destination-{{ category.id }}">
                                          {% trans %}Selected Applications{% endtrans %}
                                      </label>
                                      <select multiple name="selectedCombo[{{ category.id }}][]" class="form-control" id="destination-{{ category.id }}">
                                      </select>
                                  </div>
                              </div>
                          </div>
                      {% endfor %}
                  </div>
              </div>
            </div>
        </form>
    </div>

    <!-- modal -->
    <div class="modal fade" id="addTabModal" tabindex="-1" role="dialog" aria-labelledby="addTabModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addTabModalLabel">{% trans %}Add a Page{% endtrans %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="pageTitle" class="col-form-label">{% trans %}Page Type{% endtrans %}:</label>
                            <input type="text" name="pageTitle" id="pageTitle" class="form-control" placeholder="{% trans %}Page Title{% endtrans %}">
                        </div>
                        <div class="form-group">
                            <label for="pageType" class="col-form-label">{% trans %}Page Type{% endtrans %}:</label>
                            <select class="form-control" name="pageType" id="pageType">
                                <option value="text">{% trans %}Simple Text{% endtrans %}</option>
                                <option value="list">{% trans %}List of Items{% endtrans %}</option>
                                <option value="table">{% trans %}Simple Table{% endtrans %}</option>
                                <option value="image">{% trans %}Image{% endtrans %}</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                    <button type="button" class="btn btn-primary" id="createPageButton">{% trans %}Create Page{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <!-- inject translations -->
    <script>
        var t = {
            "pageCreationError":"{% trans %}A problem occurred while creating the page{% endtrans %}",
            "addElementToTheList":"{% trans %}Add Element to the List{% endtrans %}",
            "sectionTitle":"{% trans %}Section Title{% endtrans %}",
            "elementName":"{% trans %}Element Name{% endtrans %}",
            "elementValue":"{% trans %}Element Value{% endtrans %}",
            "pageTitle":"{% trans %}Page Title{% endtrans %}",
            "textContent":"{% trans %}Text Content{% endtrans %}",
            "loadImage":"{% trans %}Load an Image{% endtrans %}"
        }
    </script>

    <!-- custom js for the page -->
    <script src="{{ asset('assets/js/tinymce/tinymce.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/tinymce/jquery.tinymce.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/compiler/compiler.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/jquery.selectlistactions.min.js') }}" type="text/javascript"></script>
    <script>
        {% for category in categories %}
            $('#btnRight-{{ category.id }}').click(function (e) {
                $('#source-{{ category.id }}').moveToListAndDelete('#source-{{ category.id }}', '#destination-{{ category.id }}');
                e.preventDefault();
            });

            $('#btnAllRight-{{ category.id }}').click(function (e) {
                $('#source-{{ category.id }}').moveAllToListAndDelete('#source-{{ category.id }}', '#destination-{{ category.id }}');
                e.preventDefault();
            });

            $('#btnLeft-{{ category.id }}').click(function (e) {
                $('#source-{{ category.id }}').moveToListAndDelete('#destination-{{ category.id }}', '#source-{{ category.id }}');
                e.preventDefault();
            });

            $('#btnAllLeft-{{ category.id }}').click(function (e) {
                $('#source-{{ category.id }}').moveAllToListAndDelete('#destination-{{ category.id }}', '#source-{{ category.id }}');
                e.preventDefault();
            });
        {% endfor %}
    </script>
{% endblock %}