{% extends 'layouts/adminv2.html.twig' %}

{% block title %}{% trans %}Admin Area{% endtrans %} {{ parent() }}{% endblock %}

{% form_theme form 'layouts/forms/default.html.twig' %}

{% block body %}
    <h1>{% trans %}Create a New Role{% endtrans %}</h1>

    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.slug) }}
        {{ form_row(form.description) }}

    {{ form_end(form) }}

{% endblock %}