{% extends 'layouts/adminv2.html.twig' %}

{% block title %}{% trans %}Roles List{% endtrans %} {{ parent() }}{% endblock %}

{% block body %}
    <h1>{% trans %}Roles List{% endtrans %}</h1>
    <div class="row">
        <div class="content col-md-4">
            <p><b>{% trans %}Roles Found{% endtrans %}:</b> {{ pagination.getTotalItemCount }}</p>
        </div>
        <div class="content col-md-8 text-right">
            <a href="{{ path('admin_roles_create') }}" class="btn btn-primary">{% trans %}Create a New Role{% endtrans %}</a>
        </div>
    </div>

    <table class="table">
        <tr>
            {# sorting of properties based on query components #}
            <th scope="col">{{ knp_pagination_sortable(pagination, 'Id', 'r.id') }}</th>
            <th scope="col"{% if pagination.isSorted('r.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name'|trans({},'messages'), 'r.name') }}</th>
            <th scope="col"{% if pagination.isSorted('r.slug') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Slug'|trans({},'messages'), 'r.slug') }}</th>
            <th scope="col"{% if pagination.isSorted('r.createdAt') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Created'|trans({},'messages'), 'r.createdAt') }}</th>
            <th scope="col"{% if pagination.isSorted('r.updatedAt') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Last Edit'|trans({},'messages'), 'r.updatedAt') }}</th>
            <th>Actions</th>
        </tr>

        {# table body #}
        {% for roles in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ roles.id }}</td>
                <td>{{ roles.name }}</td>
                <td>{{ roles.slug }}</td>
                <td>{{ roles.createdAt | date('Y-m-d H:i:s') }}</td>
                <td>{{ roles.updatedAt | date('Y-m-d H:i:s') }}</td>
                <td><a href="{{ path('admin_roles_edit', {'id': roles.id}) }}">{% trans %}Edit{% endtrans %}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}