<form id="radioPageForm" role="form" method="POST" action="{{ path('composer_send_radio_page', {'productId': productId, 'id': radioPageId}) }}">

    <!-- Text Form -->
    <div class="form-group">
        <label for="radioPage_title">{% trans %}Page Title{% endtrans %}</label>
        <input class="form-control" name="title" id="radioPage_title" value="{{ radioPage.title }}" placeholder="{% trans %}Page Title{% endtrans %}">
    </div>
    <div class="form-group">
        <label for="radioPage_text">{% trans %}Page Text{% endtrans %}</label>
        <a class="btn" style="background-color:#003D50" href="#" id="addRow" data-row="{{ radioPage.attributeNameValues|length }}"><i class="far fa-plus-circle" style="color:#FFFFFF"></i></a>
    </div>
        <div class="form-group" id="radioContainer">
        {% if anvs|length == 0 %}
            <div id="radioContainer-0" class="form-inline divToDrag">
                <input type="text" id="radioPage_property-0" class="form-control col-xs-5" name="property[0]">
                <input type="text" id="radioPage_value-0" class="form-control col-xs-5" name="value[0]">
                <a class="btn radioElementRemover" style="background-color:#003D50;" href="#" id="removeRow-0" data-row="0"><i class="far fa-times" style="color:#FFFFFF"></i></a>
                <a href="javascript:void(0)" class="btn dragButton" style="background-color:#003D50;cursor:grabbing;" id="dragList-{{ loop.index0 }}" data-row="{{ loop.index0 }}"><i class="fal fa-bars" style="color:#FFFFFF;"></i></a>
            </div>
        {% else %}
            {% for anv in anvs %}
                <div id="radioContainer-{{ loop.index0 }}" class="form-inline divToDrag">
                    <input type="text" id="radioPage_property-{{ loop.index0 }}" class="form-control col-xs-5" name="property[{{ loop.index0 }}]" value="{{ anv.name == '{EMPTY}' ? ' ' : anv.name }}">
                    <input type="text" id="radioPage_value-{{ loop.index0 }}" class="form-control col-xs-5" name="value[{{ loop.index0 }}]" value="{{ anv.value }}">
                    <a class="btn radioElementRemover" style="background-color:#003D50;" href="#" id="removeRow-{{ loop.index0 }}" data-row="{{ loop.index0 }}"><i class="far fa-times" style="color:#FFFFFF"></i></a>
                    <a href="javascript:void(0)" class="btn dragButton" style="background-color:#003D50;cursor:grabbing;" id="dragList-{{ loop.index0 }}" data-row="{{ loop.index0 }}"><i class="fal fa-bars" style="color:#FFFFFF;"></i></a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</form>